/* dotchicken.css 1.0 December 2017 by Rendezvous */

input[type=button],
.dc-btn {
}

input[type=button],
.dc-btn:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    color: #fff;
    text-decoration: none;
}

